/* CSS RESET, usado pois os navegadores estabelecem valores padrões ruins/básicos*/
*{ 
    margin: 0;
    border: 0;
    padding: 0;
}
/* IMPORTAÇÃO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
    body{
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
    }

/* LAYOUT -> Classes responsáveis por alteração geral */

.Container{ 
     margin: 0 auto; /* Centralização */
     /* Remoção da cor background-color: #dcdcdc; */

}
/* Organizar o Container - Flexbox  */
.Flex{
    display: flex;
    justify-content:space-between;
    /* Remoção da cor de uso didático background-color: #a9a9a9; */
}
.Flex2{
    display: flex;
    align-items: center;
}
/* Criação do design do botão, aplicado na tag <a/a> da tag main */
.Botao{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 30px 40px;
    border: 2px solid white;
    border-radius: 30px;
}


/* Definição do local fixo do botão de retorno ao topo do site do id topo da tag <a/a>*/
#topo{
    position:fixed;
    right: 10px;
    bottom: 10px;
}



/*-----SMARTPHONE  PORTRAIT----*/
/* Cabeçalho */
/* Usa-se header e não id ou class, pois só tenho uma tag dessa */
header{
    height: 60px;
}

#logo img {
    width: 128px;
    height: 128px;

}

#check{     /* Faz o botão lateral do menu sumir e ficar só o símbolo que foi definido no checkbox id =check */
    display: none;
}

/* Aumenta o tamanho do símbolo do menu e posiciona */
label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5) /*Transparencia de 50%*/
}
/* ul está subordinada a nav */
nav ul {
    list-style: none; 
    background-color: #343538;
    height: 100vh; /* Pegar toda tela do celular em altura */
    position: fixed;
    top: 60px;
    /* ABAIXO TODA PARTE RESPONSÁVEL PELO EFEITO DE APARECER DA DIRETA PARA ESQUERDA */
    
    right: -100%; /* Empurra toda a div com a lista para direita do site pois -100  */
    width: 100%;     /* Faz com que pegue a tela toda do celular em largura */
    transition: all 0.5s;/* Responsável pela lentidão do aparecimento da tela */
}

*#check:checked~ul{ /* Quando o botão de id = check for marcado vai aparecer a lista dentro de ul */
    right: 0;
}
nav ul li{      /* Distancia os elementos da lista e coloca uma linha branca abaixo (border-bottom) delas */
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul li a{ /* Tira a decoração de hiperlink (azul)  e coloca branco */
    text-decoration: none;
    color: #fff;
}
/* DESTAQUE TAG MAIN */
main{
    height: 75vh;
    background: url(img/banner.jpg);
    background-size: over;
    background-position: center;
    color:white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

}
main h1{
    font-size: 2.5em;

}
main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

/* Sobre  */
#sobre{
    padding: 50px 0px;      /*Espaçamento superior e inferior de 50 e left e right de 0*/
    background: url(img/background.png); 
    background-size: cover; /*Ajusta imagem ao tamanho do container*/
    background-position: center;
}
/* Remover imagem do notebook */
#DestaqueSobre{
    display: none;
}

#textoSobre{    
    color: white;
    padding: 0px 10px;

}
#textoSobre h2{
    margin-bottom: 10px;
}

.topicoSobre{
    margin-top: 20px;
}
.topicoSobre img{
    margin-right: 10px;
}
/*-----SMARTPHONE LANDSCAPE----*/
/* @media serve para alterar informações de acordo com o dispositivo */
@media(min-width: 576px){
    
    /*
    ///////Alteração de cor body apagadas dos outros
    body{
        background-color: aqua;
    }
    */

    /* LAYOUT */
    .Container{
        max-width: 540px; /* Centralização de tudo que está no Container, valor pré-estabelecido e depende do min-width*/
    }
    /* MAIN */
    /* Adicionando sombreamento  */
    main h1, main h2{
        text-shadow: black 0.05em 0.05em 0.05em;
    }
    
}
/*-----TABLET PORTRAIT----*/
@media(min-width: 768px){
     /* LAYOUT */
    .Container{
        max-width: 720px; /* Centralização */
    }
    /* DESTAQUE */
    main{
        height: 45vh;
    }
    main h1{ 
        font-size: 5.5em;
    }
    main h2 {
        font-size: 2em;
    }
}

/*-----TABLET LANDSCAPE----*/
@media(min-width: 992px){
    /* LAYOUT */
    .Container{
        max-width: 960px; /* Centralização */
    }
    main{
        height: 70vh;
    }
}

/*-----DESKTOP----*/
@media(min-width: 1200px){
    /* LAYOUT */
    .Container{
       max-width: 1140px; /* Centralização */
    }
    /* Cabeçalho */
    header{
        height: 120px;
    }
    /* Aumenta logo principal  */
    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }
    /* O símbolo de menu responsivo some e fica só as opções da lista */
    label{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }
    nav ul li{
         float: left; /* Disposição dos itens  */
        border: 0;
    }
    nav ul li a{
        color: #343538;
    }
    /* Mudar cor quando mouse passar em cima */
    nav ul li a:hover{
        color:#c00000

    }
    /* Sobre */
    #sobre{ /* efeito de rolagem parallax na imagem de fundo*/
        background-attachment: fixed;
    }
    #DestaqueSobre{
        display: inline;
    }
    #DestaqueSobre img{
        border-radius: 50%;
        margin-right: 30px;
    }

}